h1 {
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #7F8A30!important;
}

.btn-outline-success {
    border-color: #7F8A30!important;
}

.fondocolor {
    background-color: #7F8A30!important;
}

.footer p {
    color: #7F8A30;
}


/* Masonry */

.products-masonry .card {
    text-align: center;
    border: none;
    margin-bottom: 40px;
}

.products-masonry .card h5 {
    text-transform: uppercase;
    font-weight: 300;
}

.products-masonry .card h5::before {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #7F8A30;
    margin: 15px auto 30px;
}

.products-masonry .card p {
    color: #7F8A30;
    font-weight: 500;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.nav-link:hover {
    color: #7F8A30;
}

.nav-link.active {
    background-color: #7F8A30!important;
}

.nav-item a {
    color: #444444;
}

a:hover {
    text-decoration: none;
}

.card-body h5 {
    color: #7F8A30!important;
    font-family: 'Segoe UI';
}

.card-body p {
    font-family: 'Segoe UI';
}

.